<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
    </properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="CommonCipherTypeHandler"           type="kr.teamagent.common.secure.service.CommonCipherTypeHandler"/>
        <typeAlias alias="commonVO"                          type="kr.teamagent.common.CommonVO"/>
        <typeAlias alias="egovMap"                           type="org.egovframe.rte.psl.dataaccess.util.EgovMap"/>
        <typeAlias alias="loginLogVO"                        type="egovframework.com.sym.log.clg.service.LoginLog"/>
        <typeAlias alias="codeVO"                            type="kr.teamagent.common.util.service.CodeVO"/>
        <typeAlias alias="userVO"                            type="kr.teamagent.common.security.service.UserVO"/>
        <typeAlias alias="accessLoginVO"                     type="kr.teamagent.common.security.service.AccessLoginVO"/>
        <typeAlias alias="langVO"                            type="kr.teamagent.common.system.service.LangVO"/>
        <typeAlias alias="chatbotVO"                         type="kr.teamagent.chat.service.ChatbotVO"/>
        <typeAlias alias="loginHistoryVO"                    type="kr.teamagent.loginhistory.service.LoginHistoryVO"/>
        <typeAlias alias="codesVO"                           type="kr.teamagent.codes.service.CodesVO"/>
        <typeAlias alias="libraryVO"                         type="kr.teamagent.library.service.LibraryVO"/>
        <typeAlias alias="llmVO"                             type="kr.teamagent.llm.service.LlmVO"/>
        <typeAlias alias="promptVO"                          type="kr.teamagent.prompt.service.PromptVO"/>
        <typeAlias alias="userManageVO"                      type="kr.teamagent.usermanage.service.UserManageVO"/>
        <typeAlias alias="chatGuideVO"                       type="kr.teamagent.chatguide.service.ChatGuideVO"/>
        <typeAlias alias="orgManageVO"                       type="kr.teamagent.orgmanage.service.OrgManageVO"/>
        <typeAlias alias="fileVO"                            type="kr.teamagent.common.util.service.FileVO"/>
        <typeAlias alias="datamartVO"                        type="kr.teamagent.datamart.service.DatamartVO"/>
        <typeAlias alias="datamartSummaryVO"                 type="kr.teamagent.datamart.service.DatamartVO$SummaryVO"/>
        <typeAlias alias="datasetVO"                         type="kr.teamagent.dataset.service.DatasetVO"/>
        <typeAlias alias="repositoryVO"                      type="kr.teamagent.repository.service.RepositoryVO"/>
        <typeAlias alias="agentVO"                           type="kr.teamagent.agent.service.AgentVO"/>
        <typeAlias alias="noticeVO"                          type="kr.teamagent.notice.service.NoticeVO"/>
        <typeAlias alias="myPageVO"                          type="kr.teamagent.mypage.service.MyPageVO"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="kr.teamagent.common.secure.service.CommonCipherTypeHandler"/>
    </typeHandlers>

</configuration>
